    <header>
      <a href="index.html" class="logo"><h1 class="site-title">Totally Legal Burger Shack</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="Generate">Generate your Burger</a></li>
          <li class="navitem navlink"><a href="Liability">Liability Agreement</a></li>
         
        </ul>
      </nav>
    </header>
