  <h1 class="title">Ingredients</h1>
    <main class="ingredients-container">
      
      <ul class= “ing list-1">
			 {{#each drinks}}
          {{> ingredientCard}}
			 {{/each}}
      </ul>
        <ul class= "ing list-2">
            {{#each ingredients}}
            {{> ingredientCard}}
            {{/each}}
        </ul>
      <ul class= "ing list-3">
			 {{#each sides}}
          {{> ingredientCard}}
			 {{/each}}
      </ul>    

    </main>
     <a href="/generate" class="yuck">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Yuck!
    </a>
    <a href="Liability" class="yum">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      Yum!
    </a>
