    <main class="container center">
      
      
    <h1 class="title">WELCOME</h1>
    <h2>Click here to generate your burger.</h2>

     <p >
       <i class="fa fa-caret-down" ></i>
     </p>

     <a class="btn" id="generateButton" href="/generate">
       Generate
     </a>

    </main>
