    <main class="container center">
      
      
    <h1 class="title">Liability Agreement</h1>
    <p> "This agreement releases Totally Legal Burger Shack from all liability relating to injuries that may occur. By agreeing this agreement, I agree to hold Totally Legal Burger Shack entirely free from any liability, including financial responsibility for injuries incurred, regardless of whether injuries are caused by negligence."</p>
    <p>"I also acknowledge the risks involved in consuming foods from Totally Legal Burger Shack. These include but are not limited to any risks. I swear that I am participating voluntarily, and that all risks have been made clear to me. Additionally, I do not have any conditions that will increase my likelihood of experiencing injuries while engaging in this activity."</p>
    <p>"By agreeing below I forfeit all right to bring a suit against Totally Legal Burger Shack for any reason."</p>


     
     <a class="btn btn-1 fl" href="Generate">
       Disagree
     </a>
     <a class="btn btn-1 fr" href="order">
       Agree
     </a>
    </main>
