    <main class="container center">
      
      
    <h1 class="title">Liability Agreement</h1>
    <h2>Insert text</h2>

     
     <a class="btn btn-1 fl" href="Generate.html">
       Disagree
     </a>
     <a class="btn btn-1 fr" href="order.html">
       Agree
     </a>
    </main>