    <main class="container center">
      
      
    <h1 class="title">ORDER Confirmed*</h1>
    <h2>Thank you for your purchase!</h2>

     
     <div class="bottom">
       <span class="text">*order will arrive in 5-300 business days.</span>
     </div>
    </main>

  
